{% extends 'layout.html' %}

{% block page_content %}

{% from 'bootstrap4/form.html' import render_form_row,
    render_field, render_hidden_errors%}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-lg-4 bg-light mx-2 shadow-sm p-4 rounded card">
            <form action="{{ url_for('event_upload') }}" method="POST" enctype="multipart/form-data">
                <h4 class="h5 text-center"><i class="fa fa-plus-o"></i>&nbsp;Upload Event</h4>
<hr>
        {{ form.hidden_tag() }}
        {{ render_hidden_errors(form) }}
        {{ render_field(form.event_title) }}
        {{ render_field(form.event_description) }}
        {{ render_field(form.event_image) }}
                 {{ render_form_row([form.start_date, form.end_date]) }}
       {{ render_field(form.add_event,
            class="primary-btn mt-2 mb-3") }}
    </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


{% endblock %}
