{% extends 'layout.html' %}

{% block page_content %}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="text-uppercase">Our Labs</h4><hr>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row gx-3">
        <div class="col-md-4 shadow-sm mt-2">
            <img class="card-img-top" src="{{ url_for('static', filename='images/library.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-text">Biology Lab</h5>
                <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <p>Mr. Rodney L. Bollie is the Chief Executive and Co-Founder of the Institute of Basic Technology.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-4 mt-2 shadow-sm">
            <img class="card-img-top" src="{{ url_for('static', filename='images/chemistry_lab.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-text">Chemistry Lab</h5>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample3"
                    role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample3">
  <div>
      <p>IBT's Chemistry Lab
      </p>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-4 mt-2 shadow-sm">
            <img class="card-img-top" src="{{ url_for('static', filename='images/library.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-text">Physics Lab</h5>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample4" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample4">
  <div>
      <p>Mr. Bollay W. Gibson is the General Manager.
      </p>
            </div>
        </div>
            </div>
        </div>
    </div>

    <div class="row gx-4">
         <div class="col-md-4 mt-5 shadow-sm">
            <img class="card-img-top" src="{{ url_for('static', filename='images/library.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-text">Math Lab</h5>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample5"
                    role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample5">
  <div class="card card-body">
      <p>Mrs. Gbollie is the Co-Founder
      </p>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-4 shadow-sm mt-5">
            <img class="card-img-top" src="{{ url_for('static', filename='images/library.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-text">Computer Lab</h5>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample6" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample6">
  <div>
      <p>Mr. Bollay W. Gibson is the General Manager.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-4 mt-5 shadow-sm">
            <img class="card-img-top" src="{{ url_for('static', filename='images/library.jpg')}}"
                 alt="staff1" >
            <div class="card-body">
                <h5 class="h5 card-title">Literacy Center</h5>
                <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample7" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample7">
  <div>
      <p>IBT's Literacy Center is a place for students to relax and read books of their interest.
      </p>
            </div>
        </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
