<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Home-IBT</title>
    <meta name="keywords" content="computer">
    <meta name="description" content="">
    <meta name="author" content="Americ Allison">

    <!-- Site Icons -->

     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
     <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
           rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">



    <!-- Font Awesome -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% endblock %}
</head>

<!--Start top nav -->
<body style="font-family: 'Raleway' ">
        <!-- Start main nav -->
   <nav class="navbar p-3 container-fluid navbar-expand-lg bg-ibt sticky-top">
  <a class="navbar-brand text-secondary" href="{{ url_for('index') }}">IBT</a>
  <button style="color:#FEF5AC" class="border navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">Menu
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-ibt-color" href="{{ url_for('index') }}">
            <i class="fa fa-home"></i>&nbsp;Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('teaching_model') }}">
             <i class="fa fa-university"></i>&nbsp;Teaching Model</a>
      </li>
        <li class="nav-item">
            <a class="nav-link bg-ibt-color" href="{{ url_for('staff') }}"><i class="fa fa-users"></i>&nbsp;Staff</a>
      </li>
          <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('labs') }}">
             <i class="fa fa-flask"></i>&nbsp;Labs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link bg-ibt-color dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-code"></i>&nbsp;Programs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('comp_literacy') }}">
              <i class="fa fa-laptop"></i>&nbsp;Computer Literacy</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('web_design') }}">
              <i class="fa fa-sign-in"></i>&nbsp;Web Design & Design Thinking</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('python') }}">
              <i class="fa fa-sign-in"></i>&nbsp;Python Programming</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('networking') }}">
                <i class="fa fa-sign-in"></i>&nbsp;Networking Fundamentals</a>
        </div>
      </li>
         <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('donate') }}">
             <i class="fa fa-gift"></i>&nbsp;Donate</a>
      </li>
         <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('events') }}">Events</a>
      </li>
        {% if current_user.user_name == "Admin" %}
        <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('upload_content') }}">Upload Content</a>
      </li>
         <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('register') }}">
            <i class="fa fa-user"></i>&nbsp;Register Student</a>
      </li>
        {% else %}
        {% endif %}
        {% if current_user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link bg-ibt-color" href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link bg-ibt-color" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
      </li>
        {% endif %}
    </ul>
    <form class="form-inline form-group text-end p-1 my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

  </div>
</nav>
    <!-- End main nav -->

    <!--Create content block for contents-->
        {% block content %}
        {% from 'bootstrap5/utils.html' import render_messages %}
        <div class="container-fluid text-center">
            {{ render_messages() }}
        </div>

        <!--Create and end page_content block for main contents-->
        {% block page_content %}{% endblock %}
        <!--End content block-->
        {% endblock %}
         <hr>

        <!-- Start newsletter -->
		<section class="bg-light">
      <div class="container py-4">
        <div class="row justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 align-items-center">
            <form action="#">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="my_color px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
<!-- End newsletter -->

        <footer>
            <div class="container-fluid bg-ibt-color p-5 bg-ibt">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="h5 text-white">
                            Institute of Basic Technology
                        </h5>
                        <p>Bridging the Gap in STEM Education</p>
                    </div>
                     <div class="col-md-3">
                        <h5 class="h5 text-white">
                            Programs
                        </h5>
                        <ul class="list-unstyled">
                            <li><a class="bg-ibt-color text-decoration-none"
                                   href="{{ url_for('comp_literacy') }}">
                                <i class="fa fa-laptop"></i>&nbsp;Computer Literacy</a></li>
                            <li><a class="bg-ibt-color text-decoration-none mt-2"
                                   href="{{ url_for('web_design') }}">
                                <i class="fa fa-home"></i>&nbsp;Web Design & Design Thinking</a></li>
                             <li><a class="bg-ibt-color text-decoration-none mt-2"
                                    href="{{ url_for('python') }}">
                                 <i class="fa fa-code"></i>&nbsp;Python Programming</a></li>
                             <li><a class="bg-ibt-color text-decoration-none mt-2"
                                    href="{{ url_for('networking') }}">
                                 <i class="fa fa-sign-in"></i>&nbsp;Networking Fundamentals</a></li>
                        </ul>
                    </div>
                     <div class="col-md-3">
                        <h5 class="h5 text-white">
                            Useful Links
                        </h5>
                        <ul class="list-unstyled">
                            <li><a class="bg-ibt-color text-decoration-none" href="">
                                <i class="fa fa-university"></i>&nbsp;Teaching Model</a></li>
                             <li><a class="bg-ibt-color text-decoration-none" href="">
                                 <i class="fa fa-users"></i>&nbsp;Our Staff</a></li>
                             <li><a class="bg-ibt-color text-decoration-none" href="">
                                 <i class="fa fa-flask"></i>&nbsp;Labs Tour</a></li>
                            <li><a class="bg-ibt-color text-decoration-none" href="">Events</a></li>
                        </ul>
                    </div>
                     <div class="col-md-3">
                        <h5 class="h5 text-white">
                            Contact Us
                        </h5>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map"></i>&nbsp;<a class="bg-ibt-color text-decoration-none"
                                   href="">72nd Boulevard, Kpelle Town Junction,
                            Behind Seta Drug Store</a></li>
                            <li><i class="fa fa-phone"></i>&nbsp;<a class="bg-ibt-color text-decoration-none" href="">
                                0775343434</a></li>
                            <li><i class="fa fa-reply"></i>&nbsp; <a class="bg-ibt-color text-decoration-none" href="">ibt@gmail.com</a></li>
                        </ul>
                <ol class="list-group list-group-horizontal list-unstyled">
                <li class="text-center list-group-item">
                    <a href=""><i class="fa fa-facebook-square"></i></a>
                </li>
                    <li class="list-group-item">
                    <a href=""><i class="fa fa-instagram"></i></a>
                </li>
                    <li class="list-group-item">
                    <a class="text-danger" href=""><i class="fa fa-youtube"></i></a>
                </li>
                    <li class="list-group-item">
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                </ol>
            </div>
                    </div><hr>
                 <div class="text-center">
				<p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> |
                    &nbsp;Institute of Basic Technology |
                    All rights reserved | Designed by
                    <a style="color:#97D2EC;" href="#" target="_blank">Pabs Tech</a></p>
			</div>
                </div>

        </footer>



<!-- Start scripts -->
{% block scripts %}
        {{ bootstrap.load_js() }}
        {{ moment.include_moment() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{{ url_for('static', filename='jscript/google-map.js')}}"></script>
    <script src="{{ url_for('static', filename='jscript/main.js')}}"></script>
        <!-- Start Google Translate API script -->
    <script type="text/javascript">
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement (
                            {pageLanguage: 'en'},
                            'google_translate_element'
                            );
                            }
                        </script>

                        <script type="text/javascript"
                                src="https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">

                        </script>

<!-- End Google Translate API script -->
{% endblock %}
<!-- End scripts -->
</body>
</html>