{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block page_content %}

<div class="container text-center mt-5">
    <h4 class="h4 text-uppercase">Networking Fundamentals Notes</h4><hr>
</div>

<div class="container mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-12 col-lg-12 mb-2 col-12">
            <div class="row gx-4">
    {% for category in note_category %}
            <div class="col-md-3 col-6 shadow-sm gx-4 py-1 mb-3">
    <a href="{{ url_for('static', filename='notes/' + category.note_content)}}"
       target="_blank">{{ category.note_name }}</a><br>
         <span><i class="fa fa-calendar"></i>
             &nbsp;{{ moment(category.upload_time).format('LL') }}
             &nbsp;</span><br>
         <span><i class="fa fa-clock-o"></i>
             &nbsp;{{ moment(category.upload_time).fromNow().format('LLL') }}
         </span>
                <p class="mt-1 p-1">{{ category.note_description }}</p>
            </div>
    {% endfor %}
        </div>
         <div class="col-md-1"></div>
    </div>
</div>
<div class="container text-center">
    <h6><a href="{{ url_for('networking_notes') }}">See All Networking Notes</a></h6>
</div>

<div class="container mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-12 col-lg-12 mb-2 col-12">
            <div class="row gx-4">
    {% for video in video_category %}
            <div class="col-md-3 col-6 shadow-sm gx-4 py-1 mb-3">
    <a href="{{ url_for('static', filename='videos/' + video.video_content)}}"
       target="_blank">{{ video.video_name }}</a><br>
         <span><i class="fa fa-calendar"></i>
             &nbsp;{{ moment(video.upload_time).format('LL') }}
             &nbsp;</span><br>
         <span><i class="fa fa-clock-o"></i>
             &nbsp;{{ moment(video.upload_time).fromNow().format('LLL') }}
         </span>
                <p class="mt-1 p-1">{{ video.video_description }}</p>
            </div>
    {% endfor %}
        </div>
         <div class="col-md-1"></div>
    </div>
</div>
<div class="container text-center">
    <h6><a href="{{ url_for('networking_videos') }}">See All Networking Videos</a></h6>
</div>

{% endblock %}