{% extends 'layout.html' %}

{% block page_content %}

<div class="container text-center mt-5">
    <h4 class="text-uppercase">Please Meet Our Staff</h4>
</div>
<div class="container mt-5">
    <div class="row gx-4">
        <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/RLB.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Rodney L. Bollie</h5>
                   <h6 class="h6">CEO and Founder</h6>
                <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <p>Mr. Rodney L. Bollie is the Chief Executive and Co-Founder of the Institute of Basic Technology.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/SGB.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mrs. Sylvia G. Bollie</h5>
                <h6>Co-Founder</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample1"
                    role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample1">
  <div class="card card-body">
      <p>Mrs. Gbollie is the Co-Founder
      </p>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/BWG.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Bollay W. Gibson</h5>
                <h6>General Manager</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample2" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample2">
  <div class="card card-body">
      <p>Mr. Bollay W. Gibson is the General Manager.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/EN.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Ms. Evangeline</h5>
                <h6 class="h6">Biology Mentor</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample3" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample3">
  <div class="card card-body">
      <p>Ms. Evangeline is a teacher of Biology and Chemistry. She is a student of the University
          of Liberia.
      </p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row gx-4">
        <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/AA.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Americ Allison</h5>
                   <h6 class="h6">IT Mentor</h6>
                <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample4" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample4">
  <div class="card card-body">
      <p>Mr. Americ Allison is a 2016 graduate of Cuttington University. He holds a Bachelor of Science degree
          in Plant and Soil Science. He also holds certificates in the Information Technology and Computer
          Science sphere. He teaches Computer Literacy and Python Programming at IBT.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/UN.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Uriah</h5>
                <h6>Mathematics Mentor</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse" href="#collapseExample5"
                    role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample5">
  <div class="card card-body">
      <p>Mr. Uriah teaches Mathematics.
      </p>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded" src="https://api.multiavatar.com/AD.svg" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Abraham</h5>
                <h6>Physics Mentor</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample6" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample6">
  <div class="card card-body">
      <p>Mr. Abraham teaches Physics.
      </p>
            </div>
        </div>
            </div>
        </div>
         <div class="col-md-3 col-6 px-2 text-center">
            <img class="img-rounded w-100" src="https://api.multiavatar.com/EKM.png" alt="staff1" >
            <div class="card-body">
                <h5 class="h5">Mr. Ernest K. Mollie III</h5>
                <h6 class="h6">IT Mentor</h6>
                            <p>
                 <a class="btn-sm mt-1 btn-primary text-center" data-toggle="collapse"
                    href="#collapseExample7" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    See More
  </a>
                </p>
<div class="collapse" id="collapseExample7">
  <div class="card card-body">
      <p>Mr. Ernest K. Mollie teaches Computer Literacy.
      </p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}