{% extends 'layout.html' %}

{% block page_content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <h4 class="text-uppercase text-center mb-4">Institute of Basic Technology Teaching Model</h4>
    <p>
                In an effort to futher strengthen the struggling educational system,
                The Institute of Basic Technology is developing an analytical teaching
                model capable of predicting and improving learning outcomes.
                To this end our model measures the impediments contributed by each of the following:
    </p>
    <ol>
        <li>Impact of limited vocabulary</li>
        <li>Impact of a mother's education</li>
        <li>Impact of a large family unit</li>
        <li>Impact of limited access educational materials</li>
        <li>Impact of a feeding program</li>
        <li>Impact of affirmation (encouragement)</li>
    </ol>
   <p>A fully developed prototype of the IBT Teaching Model will be ready at the end of
    the 2023-2024 academic year. The hope is that the model help provide an objective
    guidance for achieving the following:
   </p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <h5>SUCCESSFUL GRADUATION RATE</h5>
                        <p>
                            This means showing a progression in the number of high school seniors
                            successfully passing the West African Senior School Certificate
                            Examination
                            (WASSCE) with a GPA of B or better. More importantly,
                            having at least 90% of graduating seniors passing ALL STEM
                            subjects with a B or better.
                        </p>
                    </div>
                    <div class="col-md-6 mt-3">
                        <h5>USE OF INTERNET TECHNOLOGY</h5>
                        <p>
                            More than simply learning how to use a personal computer, the goal
                            here would be to use IT as a medium for accessing and teaching courses
                            at international standards. This teaching style will be more of a
                            composite approach with the teaching staff still in
                            control of the daily instructional session while the role of
                            Internet courses will be supplemental.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <h5>EMPOWER CURRENT TEACHING STAFF</h5>
                        <p>
                            After shadowing the local teachers at the test high school we are
                            currently partnering with, it was quickly observed that there are
                            nuances unique to their teaching that are very effective. The value
                            of these subtleties can be harnessed while at the same time providing
                            regular training classes to enhance their skills. The additional
                            benefit is the cost
                            savings to the school administration's operation and undoubtedly
                            mitigating tuition increase to the students.
                        </p>
                    </div>
                    <div class="col-md-6 mt-3">
                        <h5><i class="fa fa-clock-o"></i>&nbsp;REDESIGN THE TEACHING TIME</h5>
                        <p>
                           If students will be successful, it will be important that they
                            are required to actively particulate during portions of the 45
                            minutes teaching sessions. Therefore in every 45 minute time slot,
                            students should be able to identify the applicability of the
                            subject to their everyday lives, secondly how the subject fits
                            into a career track, and lastly with each student's understanding
                            being tested at the end of each class.We have five (5) STEM labs
                            (Biology, Chemistry, Math, Physics, Computer Literacy)
                            and a reading/literacy center
                            catering to over five hundred (500) students from 6 schools in
                            the suburb of Monrovia, the capital of Liberia.
                        </p>
                    </div>
                </div>
            </div>
</div>
           <div class="col-md-2">
               <ul class="list-unstyled">
                    <span>Literacy Center</span>
                    <li>
                        <a href="#">
                            <img class="w-100 mb-3"
                                 src="{{ url_for('static', filename='images/library.jpg')}}"/></a></li>
                    <span>Computer Lab</span>
                    <li><img class="w-100" src="{{ url_for('static', filename='images/library.jpg')}}"/></li>
                </ul>
           </div>
    </div>
</div>


{% endblock %}
