{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block page_content %}

<div class="container text-center mt-5">
    <h4 class="h4 text-uppercase">Python Programming Lessons</h4><hr>
</div>

<div class="container mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-12 col-lg-12 mb-2 col-12">
            <div class="row gx-4">
    {% for category in categories %}
    {% for note in category.notes %}
            <div class="col-md-3 col-6 shadow-sm gx-4 py-1 mb-3">
    <a href="{{ url_for('static', filename='notes/' + note.note_content)}}"
       target="_blank">{{ note.note_name }}</a><br>
         <span><i class="fa fa-calendar"></i>
             &nbsp;{{ moment(note.upload_time).format('LL') }}
             &nbsp;</span><br>
         <span><i class="fa fa-clock-o"></i>
             &nbsp;{{ moment(note.upload_time).fromNow().format('LLL') }}
         </span>
                <p class="mt-1 p-1">{{ note.note_description }}</p>
            </div>
    {% endfor %}
    {% endfor %}
        </div>
         <div class="col-md-1"></div>
    </div>
</div>

<div class="container text-center">
    <h5><a href="{{ url_for('python_notes') }}">See All Web Design Notes</a></h5>
</div>

{% endblock %}